
* {
	@apply tw-font-nunito-sans tw-font-semibold;
}

header {
	/* Index */
	.container {
        @apply tw-bg-konetic-black-1 tw-text-konetic-blue-3 tw-text-base tw-w-full
        tw-fixed tw-py-4; 
	}
	.wrapper {
		@apply tw-flex;
	}
	.divlogoCabecera {
        @apply tw-text-left tw-w-4 tw-ml-4;
	}

	/* Main */
	nav {
		@apply tw-bg-orange-500 tw-border-gray-200 tw-px-4 lg:tw-px-6 tw-py-2.5 dark:tw-bg-gray-800;

		div {
			@apply tw-flex tw-flex-wrap tw-justify-between tw-items-center tw-mx-auto tw-max-w-screen-xl;


			#mobile-menu-1 {
				@apply tw-flex tw-items-end lg:tw-order-2;

				.log-in {
					@apply tw-text-gray-800 dark:tw-text-white hover:tw-bg-gray-50 focus:tw-ring-4 
					focus:tw-ring-gray-300 tw-font-medium tw-rounded-lg tw-text-sm tw-px-4 lg:tw-px-5 tw-py-2 
					lg:tw-py-2.5 tw-mr-2 dark:hover:tw-bg-gray-700 focus:tw-outline-none dark:focus:tw-ring-gray-800;
				}

				.button-mobile-menu-1 {
					@apply tw-inline-flex tw-items-center tw-p-2 tw-ml-1 tw-text-sm tw-text-gray-500 tw-rounded-lg 
					lg:tw-hidden hover:tw-bg-gray-100 focus:tw-outline-none focus:tw-ring-2 focus:tw-ring-gray-200 
					dark:tw-text-gray-400 dark:hover:tw-bg-gray-700 dark:focus:tw-ring-gray-600;

					span {
						@apply tw-sr-only;
					}

					svg {
						@apply tw-w-6 tw-h-6;
					}
				}
			}

			#mobile-menu-2 {
				@apply tw-justify-between tw-items-center tw-w-full lg:tw-flex lg:tw-w-auto lg:tw-order-1;

				ul {
					@apply tw-flex tw-flex-col tw-mt-4 tw-font-medium lg:tw-flex-row lg:tw-space-x-8 lg:tw-mt-0;
				}

				li {
					a {
						@apply tw-block tw-py-2 tw-pr-4 tw-pl-3 tw-text-gray-700 tw-border-b tw-border-gray-100 
						hover:tw-bg-gray-50 lg:hover:tw-bg-transparent lg:tw-border-0 lg:hover:tw-text-primary-700 
						lg:tw-p-0 dark:tw-text-gray-400 lg:dark:hover:tw-text-white dark:hover:tw-bg-gray-700 
						dark:hover:tw-text-white lg:dark:hover:tw-bg-transparent dark:tw-border-gray-700;

						&:current {
							@apply tw-text-white tw-rounded tw-bg-primary-700 lg:tw-bg-transparent lg:tw-text-primary-700 
							lg:tw-p-0 dark:tw-text-white;
						}
					}
				}
			}
		}
	}
}

footer {
	.container {
        @apply tw-bg-konetic-black-1 tw-text-konetic-blue-3 tw-text-base tw-w-full
        tw-absolute tw-py-4; 
	}
	.copy {
        @apply tw-text-center;

		a {
            @apply tw-text-konetic-blue-3 tw-no-underline;
            
			&:hover {
                @apply tw-text-konetic-blue-2 tw-underline;
			}
		}
	}
}
