
.login-container-2 {
	a {
		@apply tw-flex tw-items-center tw-mb-6 tw-text-2xl tw-font-semibold 
		tw-text-gray-900 dark:tw-text-white;
	}

	section {
		@apply tw-bg-gray-50 dark:tw-bg-gray-900;
	}

	.div_lv_1 {
		@apply tw-flex tw-flex-col tw-items-center tw-justify-center 
		tw-px-6 tw-py-8 tw-mx-auto md:tw-h-screen lg:tw-py-0;
	}

	.div_lv_2 {
		@apply tw-w-full tw-bg-white tw-rounded-lg tw-shadow dark:tw-border md:tw-mt-0 
		sm:tw-max-w-md xl:tw-p-0 dark:tw-bg-gray-800 dark:tw-border-gray-700;
	}

	.div_lv_3 {
		@apply tw-p-6 tw-space-y-4 md:tw-space-y-6 sm:tw-p-8;

		h1 {
			@apply tw-text-xl tw-font-bold tw-leading-tight tw-tracking-tight tw-text-gray-900 
			md:tw-text-2xl dark:tw-text-white;
		}

		form {
			@apply tw-space-y-4 md:tw-space-y-6;

			a {
				@apply tw-text-sm tw-font-medium tw-text-primary-600 hover:tw-underline 
				dark:tw-text-primary-500;
			}

			button[type=submit] { 
				@apply tw-w-auto tw-text-white tw-bg-primary-600 hover:tw-bg-primary-700 
				focus:tw-ring-4 focus:tw-outline-none focus:tw-ring-primary-300 tw-font-medium 
				tw-rounded-lg tw-text-sm tw-px-5 tw-py-2.5 tw-text-center dark:tw-bg-primary-600 
				dark:hover:tw-bg-primary-700 dark:focus:tw-ring-primary-800;
			}

			input {
				@apply tw-bg-gray-50 tw-border tw-border-gray-300 tw-text-gray-900 sm:tw-text-sm -tw-m-2.5
				tw-rounded-lg focus:tw-ring-primary-600 focus:tw-border-primary-600 tw-block tw-w-full
				tw-p-2.5 dark:tw-bg-gray-700 dark:tw-border-gray-600 dark:tw-placeholder-gray-400 
				dark:tw-text-white dark:focus:tw-ring-blue-500 dark:focus:tw-border-blue-500;
			}

			.div_pass i {
				@apply tw-relative -tw-top-[24px] tw-align-middle tw-ml-[360px] 
				tw-text-black dark:tw-text-white tw-font-semibold;
			}

			select {
				@apply tw-bg-gray-50 tw-border tw-border-gray-300 tw-text-gray-900 sm:tw-text-sm -tw-m-2.5
				tw-rounded-lg focus:tw-ring-primary-600 focus:tw-border-primary-600 tw-block tw-w-[106%]
				tw-p-2.5 dark:tw-bg-gray-700 dark:tw-border-gray-600 dark:tw-placeholder-gray-400 
				dark:tw-text-white dark:focus:tw-ring-blue-500 dark:focus:tw-border-blue-500;
			}

			label {
				@apply tw-block tw-mb-2 tw-text-sm tw-font-medium tw-text-gray-900 dark:tw-text-white;
			}

			p {
				@apply tw-text-sm tw-font-light tw-text-gray-500 dark:tw-text-gray-400
			}
		}
	}

	.div_lv_4 {
		@apply tw-flex tw-items-center tw-justify-between;

		.div_lv_5 {
			@apply tw-flex tw-items-start;

			.div_lv_6 {
				@apply tw-flex tw-items-center tw-h-5;

				/*input[type=checkbox] {
					@apply tw-w-4 tw-h-4 tw-border tw-border-gray-300 tw-rounded 
					tw-bg-gray-50 focus:tw-ring-3 focus:tw-ring-primary-300 
					dark:tw-bg-gray-700 dark:tw-border-gray-600 dark:tw-focus:ring-primary-600 
					dark:tw-ring-offset-gray-800;
				}*/
			}
		}
	}

	.btnLogin {
		@apply tw-flex tw-justify-center tw-items-center;
	}

	.img_logo {
		@apply tw-w-8 tw-h-8 tw-mr-2 tw-rounded-md -tw-mt-4;
	}

	.restorePass {
		@apply tw-text-sm tw-font-medium tw-text-primary-600 hover:tw-underline dark:tw-text-primary-500;
	}
}
